@use "../Page/Page.scss";

#page>main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media (min-width: Page.$first-screen-width) {

    #page>main {
        display: grid;
        grid-template-columns: 37rem 1fr;
    }
}