#add-recipe-form {
    --invalid-colour: red;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 3rem;

    padding: 4rem 6rem;

    h2 {
        background-color: white;
        background-image: var(--main-background-image);

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &>main {
        display: flex;
        flex-direction: column;
        place-content: start center;
        place-items: start center;
        gap: 3rem;

        .custom-input-container {
            width: 100%;

            input {
                transition: color 250ms, border-color 250ms;

                &:not(:placeholder-shown):invalid {
                    color: var(--invalid-colour);

                    border-bottom-color: var(--invalid-colour);
                }
            }
        }

        #ingredient-input-field-container {
            display: flex;
            flex-direction: column;
            place-content: start center;
            place-items: start center;
            gap: 2rem;

            &>main {
                $padding-right: 2rem;

                max-height: 23vh;
                max-width: 60vw;

                display: inherit;
                flex-direction: inherit;
                gap: 2rem;

                padding: 1rem;
                padding-right: $padding-right;
                padding-left: 0;

                overflow: auto;

                &>div {
                    display: inherit;
                    gap: 1rem;

                    padding: 1rem;

                    background-color: var(--background-colour);

                    border-radius: 2rem;

                    .input-displayer {
                        display: inherit;
                        flex-direction: column;
                        gap: 1rem;
                    }

                    .custom-button {
                        place-self: end;

                        padding: 1.75rem;

                        background-color: var(--background-darker-colour);

                        img {
                            width: 60%;
                        }
                    }
                }

                .text-with-icon {
                    margin-right: calc(-1 * $padding-right);

                    &>img {
                        height: 4rem;
                    }

                    &>p {
                        all: unset;
                    }
                }
            }
        }
    }
}