#add-recipe-form {
    --invalid-colour: red;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 3rem;

    padding: 4rem 6rem;

    h2 {
        background-color: white;
        background-image: var(--main-background-image);

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &>main {
        display: flex;
        flex-direction: column;
        place-content: start center;
        place-items: start center;
        gap: 1rem;

        .custom-input-container {
            width: 100%;

            input {
                transition: color 250ms, border-color 250ms;

                &:not(:placeholder-shown):invalid {
                    color: var(--invalid-colour);

                    border-bottom-color: var(--invalid-colour);
                }
            }
        }

        #ingredient-input-field-container {
            max-width: max(40vw, 25rem);

            display: flex;
            flex-direction: column;
            place-content: start center;
            place-items: start center;
            place-self: center;
            gap: 1rem;

            &>main {
                $padding-right: 1rem;

                max-height: 23vh;
                width: calc(100% - $padding-right);

                display: inherit;
                flex-direction: inherit;
                gap: 2rem;

                padding-right: $padding-right;

                overflow-y: auto;
                overflow-x: hidden;

                &>div {
                    $padding: 1.5rem;

                    position: relative;

                    display: inherit;
                    gap: 1rem;

                    padding: $padding;

                    background-color: var(--background-colour);

                    border-radius: 1rem;

                    .input-displayer {
                        display: inherit;
                        flex-direction: column;
                        gap: 1rem;

                        width: 100%;
                    }

                    .custom-button {
                        position: absolute;
                        top: calc($padding / 1.5);
                        right: calc($padding / 1.5);

                        padding: 1.5rem;

                        background-color: var(--background-darker-colour);

                        img {
                            width: 60%;
                        }
                    }
                }

                .text-with-icon {
                    margin-right: calc(-1 * $padding-right);
                    max-width: 22rem;

                    &>img {
                        height: 4rem;
                    }

                    &>p {
                        all: unset;
                    }
                }
            }
        }
    }
}