.search-bar {
    height: 4rem;

    display: grid;
    grid-template-columns: 1fr auto;
    place-content: center end;
    place-items: center end;
    gap: 2rem;

    background-color: var(--half-transparent);

    border-radius: 100rem;

    .custom-input-container {
        width: 100%;

        place-self: stretch start;

        border: none;
        border-radius: inherit;

        input {
            height: min-content;
            width: 100%;

            padding: 1rem 1.5rem;

            background-color: transparent;

            overflow: hidden;
        }

        label {
            color: var(--fore-darker-colour);
        }
    }

    button {
        $icon-width: 2.5rem;

        position: relative;

        border: none;
        border-radius: inherit;

        &:hover,
        &:focus-within {
            transform: none;

            a {
                transform: scale(1.1);
            }

            img {
                left: -0.3rem !important;
            }
        }

        a {
            transition: transform 500ms;
        }

        img {
            transition: filter 500ms, left 500ms;
        }
    }
}