@use "../Page/Page.scss";

#page>header {
    display: flex;

    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto auto;
    place-content: center stretch;
    place-items: center stretch;
    gap: 2rem;

    padding: 2rem;

    background-color: var(--background-darker-colour);

    outline: 0.2rem solid var(--background-colour);

    transition: background-color 500ms;

    z-index: 1;

    #logo {
        display: flex;
        place-content: center;
        place-items: center;
        place-self: start;

        figure {
            position: relative;

            width: 2.75rem;
            aspect-ratio: 1;

            padding: 0.75rem;

            background-image: var(--main-background-image);

            border-radius: 100%;

            img {
                position: absolute;
                inset: 0;

                width: 60%;

                margin: auto;

                transition: filter 500ms;
            }
        }

        p {
            font-family: Pacifico;
            font-size: x-large;
            font-weight: bold;

            padding: 0 1rem;

            background-color: white;
            background-image: var(--main-background-image);

            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .button-displayer {
        grid-column: 2 / -1;
        grid-row: 1;

        .custom-button {
            height: min-content;
        }
    }

    #theme-toggle-button {
        grid-column: 3;
        grid-row: 2;
        place-self: center end;
    }

    #recipe-search-bar {
        grid-column: span 2;
        grid-row: 2;
    }
}