.custom-button {
    --padding: 1.2rem;
    --icon-size: 2.75rem;

    position: relative;

    display: flex;
    place-content: center;
    place-items: center;

    padding: var(--padding);

    border-width: 0.2rem;

    transition: transform 500ms;

    &:is(:hover, :focus-within) {
        transform: scale(1.1);
    }

    &.emphasized-button {
        background-color: var(--main-colour);
        background-image: var(--main-background-image);
    }

    &.arrowed-button {

        &.icon-button-left img {
            transform: translate(+35%, -50%) rotate(+90deg) !important;
        }

        &.icon-button-right img {
            transform: translate(-35%, -50%) rotate(-90deg) !important;
        }
    }

    &.icon-button {
        $padding: 4.5rem;

        &.icon-button-left {
            padding-left: $padding;

            img {
                left: 0;
                transform: translate(+35%, -50%);
            }
        }

        &.icon-button-right {
            padding-right: $padding;

            img {
                right: 0;
                transform: translate(-35%, -50%);
            }
        }
    }

    &.icon-only-button {
        padding: 2.5rem;

        width: var(--icon-size);
        height: var(--icon-size);
        aspect-ratio: 1;

        border-radius: 100%;

        img {
            inset: 0;
            margin: auto;
        }
    }

    a {
        text-decoration: none;

        display: flex;
        place-content: center;
        place-items: center;

        pointer-events: none;
    }

    img {
        position: absolute;
        top: 50%;

        width: var(--icon-size);
        aspect-ratio: 1;

        transition: filter 500ms;
    }
}

.button-displayer {
    display: flex;
    gap: 1rem;

    .custom-button {
        width: max-content;
    }
}

.light-themed .custom-button {
    border-width: 0.3rem;

    &.arrowed-button::after {
        filter: invert(1);
    }
}